.container.mt-5
  .row.justify-content-center
    %h2 Resend unlock instructions
  .row.justify-content-center
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      .actions
        = f.submit "Resend unlock instructions", class: 'btn btn-primary'
      = render "devise/shared/links"
