= form_with(model: post, local: true) do |form|
  -if post.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissible.fade.show
      %button.close{ 'data-dismiss': 'alert' }
        %span x
      %h4= "#{pluralize(post.errors.count, "Error")} al guardar el post"
      %ul
        -post.errors.full_messages.each do |message|
          %li= message

  .form-group
    = form.label :title
    = form.text_field :title, class: 'form-control'
  .form-group
    = form.label :body
    = form.rich_text_area :body, class: 'form-control'
  -# .form-group
  -#   = form.label :cover_photo
  -#   = form.file_field :cover_photo, class: 'form-control'
  .actions
    - if action_name == 'edit'
      = form.submit 'Update', class: 'btn btn-primary'
      \|
      = link_to 'Cancel', @post, class: 'btn btn-danger'
    -else
      = form.submit 'Save', class: 'btn btn-primary'
      \|
      = link_to 'Cancel', posts_path, class: 'btn btn-danger'
%br/
