%h1 Posts

%table{class: 'table table-hover'}
  %thead
    %tr
      %th Title
      %th Body
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= truncate(strip_tags(post.rich_text_body.to_s), length: 250)
        %td= link_to 'Show', post, class: 'btn btn-primary btn-sm'
        %td= link_to 'Edit', edit_post_path(post), class: 'btn btn-success btn-sm'
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

%br

.container
  .row.justify-content-center
    = will_paginate @posts

= link_to 'New Post', new_post_path, class: 'btn btn-primary mb-3'
