%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body

= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success mb-4'
\|
= link_to 'Back', posts_path, class: 'btn btn-danger mb-4'
