!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    %script{src:"https://kit.fontawesome.com/5e6c28720b.js", crossorigin:"anonymous"}
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    -# Header
    %header
      %nav{class: 'navbar bg-dark'}
        .container.nv
          %a{href: root_path, class:'navbar-brand'}
            %i{class:'fas fa-book'}
            %strong{class:'name'}Blog
          %ul{class: 'navbar-nav ml-auto mt-2 mt-lg-0'}
            %li{class: 'nav-item active'}
              = link_to 'Ver Posts', posts_path, class: 'nav-link name'

    -# Main Content
    %main{class: 'container'}
      #notice= render 'alerts/notice' if (flash[:notice])
      #error= render 'alerts/alert' if (flash[:alert])
      = yield

    -# Footer
    %footer{class: 'p-4 bg-light'}
      .container.text-muted
        %p 2020 @ Blog
        %p{class: 'float-right'}
          %a(href="#")Back to Top
        %p
          Visit the
          %a{href: 'https://fullstackrubyonrails.com'} FullstackRubyonRails
          %span to learn more!
