!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    %script{src:"https://kit.fontawesome.com/5e6c28720b.js", crossorigin:"anonymous"}
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    -# Header
    %header
      %nav{class: 'navbar navbar-dark bg-dark navbar-expand-lg nv fixed-top'}
        %a{href: root_path, class:'navbar-brand ml-5'}
          %i{class:'fas fa-book'}
          %strong{class:'name'}Blog
          %span.sr-only (current)
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul{class: 'navbar-nav ml-auto mt-2 mt-lg-0 mr-5'}
            - if user_signed_in?
              %li{class: 'nav-item'}
                = link_to 'Ver Posts', posts_path, class: 'nav-link'
              %li{class: 'nav-item'}
                = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'
            - else
              %li{class: 'nav-item'}
                = link_to 'Log in', new_user_session_path, class: 'nav-link active'
              %li{class: 'nav-item'}
                = link_to 'Sign up', new_user_registration_path, class: 'nav-link'

    -# Current User
    %section.pt-5.text-right.mr-3
      - if user_signed_in?
        %h5
        %span{class: 'font-weight-bold'} Hello:
        = current_user.email

    -# Main Content
    %main{class: 'container'}
      #notice= render 'alerts/notice' if (flash[:notice])
      #error= render 'alerts/alert' if (flash[:alert])
      = yield

    -# Footer
    %footer{class: 'p-4 bg-light'}
      .container.text-muted
        %p 2020 @ Blog
        %p{class: 'float-right'}
          %a(href="#")Back to Top
        %p
          Visit the
          %a{href: 'https://fullstackrubyonrails.com'} FullstackRubyonRails
          %span to learn more!
